extends layout

block content
  div#controls
    p.explanation
      Upload audio and magically have a muted video return to match it!  Perhaps you'll laugh, perhaps you'll find something cool.  Please select a .mp3 file as other file formats contain asbestos and will poison the server.

    input#uploadAudio(type="file")
    p 
      Or pick a random song from SoundCloud
    button#randomSC
      Choose From SoundCloud
        
  div#media
    div#player
    audio#audio